@import "../../styles/colors";

.sideBarContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, white 0%, #f4f4f4 100%);
    border-right: 1px solid $color-light-x4-gray;
    padding: 40px 25px 25px 40px;
    width: max-content;
}