@import "../../styles/mixins";
@import "../../styles/colors";

.container {
    border-right: 1px solid $light-x4-gray;
    padding: 48px;
}

@include respond-to("large") {
    .container {
        padding: 40px;
    }
}

@include respond-to("medium") {
    .container {
        border-top: 1px solid $light-x4-gray;
        border-right: none;
        width: 100%;
    }
}

@include respond-to("small") {
    .container {
        padding: 38px;
    }
}

@include respond-to("extra-small") {
    .container {
        padding: 26px;
    }
}

@include respond-to("extra-extra-small") {
    .container {
        padding: 24px;
    }
}