@import "../../styles/colors";
@import "../../styles/mixins";

.title {
    line-height: 170%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 19px;
}

.subTitle {
    color: $color-dark-x2-gray;
    text-align: center;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}

.bodyText {
    display: flex;
    justify-content: center;
    color: $color-dark-x2-gray;
    margin-top: 10px;
    line-height: 170%;
    font-size: 14px;
}

@include respond-to("large") {
    .bodyText {
        margin-top: 9px;
    }
}

@include respond-to("medium") {
    .title {
        line-height: 168%;
        font-size: 18px;
    }

    .subTitle {
        font-size: 16px;
    }

    .bodyText {
        margin-top: 8px;
        line-height: 168%;
        font-size: 13px;
    }
}

@include respond-to("small") {
    .title {
        font-size: 15px;
    }

    .subTitle {
        font-size: 14px;
    }

    .bodyText {
        margin-top: 7px;
        font-size: 12px;
    }
}

@include respond-to("extra-small") {
    .title {
        font-size: 14px;
    }

    .subTitle {
        font-size: 13px;
    }
}

@include respond-to("extra-extra-small") {
    .title {
        margin-bottom: 4px;
        font-size: 13px;
    }

    .subTitle {
        margin-bottom: 4px;
        font-size: 12px;
    }

    .bodyText {
        font-size: 11px;
    }
}