@import "../../styles/colors";
@import "../../styles/mixins";

.title {
    color: $color-dark-x4-gray;
    line-height: 170%;
    text-align: center;
    margin-bottom: 12px;
    font-size: 19px;
}

.subTitle {
    color: $color-dark-x2-gray;
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
}

.bodyText {
    display: flex;
    justify-content: center;
    color: $color-dark-x2-gray;
    line-height: 170%;
    font-size: 14px;
}

@include respond-to("large") {
    .title {
        margin-bottom: 11px;
    }

    .subTitle {
        margin-bottom: 14px;
    }
}

@include respond-to("medium") {
    .title {
        line-height: 168%;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .subTitle {
        margin-bottom: 13px;
        font-size: 16px;
    }

    .bodyText {
        line-height: 168%;
        font-size: 13px;
    }
}

@include respond-to("small") {
    .title {
        margin-bottom: 9px;
        font-size: 15px;
    }

    .subTitle {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .bodyText {
        font-size: 12px;
    }
}

@include respond-to("extra-small") {
    .title {
        font-size: 14px;
    }

    .subTitle {
        font-size: 13px;
    }
}

@include respond-to("extra-extra-small") {
    .title {
        margin-bottom: 8px;
        font-size: 13px;
    }

    .subTitle {
        margin-bottom: 11px;
        font-size: 12px;
    }

    .bodyText {
        font-size: 11px;
    }
}