@import "../../styles/colors";
@import "../../styles/mixins";

.lateralColumnContainer {
    display: flex;
    align-items: center;

    .leftColumnContainer {
        display: flex;
        flex-direction: column;
        padding: 25px 40px;
        width: 50%;

        .leftColumnHeader {
            margin-bottom: 15px;

            .leftColumnTitle {
                color: $color-dark-x4-gray;
                font-size: 22px;
            }
        }

        .leftColumnBodyText {
            color: $color-dark-x2-gray;
            line-height: 170%;
            font-size: 14px;
        }

        .subTextMarginBottom {
            margin-bottom: 10px;
        }
    }

    .rightColumnContainer {
        display: flex;
        flex-direction: column;
        padding: 25px 40px;
        width: 50%;

        .rightColumnHeader {
            display: flex;
            flex-direction: column;

            .rightColumnTitle {
                color: $color-dark-x4-gray;
                line-height: 170%;
                text-align: center;
                margin-bottom: 12px;
                font-size: 19px;
            }

            .rightColumnSubTitle {
                color: $color-dark-x2-gray;
                text-align: center;
                margin-bottom: 15px;
                font-size: 17px;
                font-weight: 600;
            }
        }

        .rightColumnBodyText {
            display: flex;
            justify-content: center;
            color: $color-dark-x2-gray;
            line-height: 170%;
            font-size: 14px;
        }

        .subTextMarginBottom {
            margin-bottom: 10px;
        }
    }
}

// large: 1199px
@include respond-to("large") {
    .lateralColumnContainer {
        .leftColumnContainer {
            .leftColumnHeader {
                margin-bottom: 14px;
            }

            .subTextMarginBottom {
                margin-bottom: 9px;
            }
        }

        .rightColumnContainer {
            .rightColumnHeader {
                .rightColumnTitle {
                    margin-bottom: 11px;
                }

                .rightColumnSubTitle {
                    margin-bottom: 14px;
                }
            }

            .subTextMarginBottom {
                margin-bottom: 9px;
            }
        }
    }
}

// medium: 991px
@include respond-to("medium") {
    .lateralColumnContainer {
        flex-direction: column;

        .leftColumnContainer {
            padding: 25px 42px 0px 42px;
            width: 100%;

            .leftColumnHeader {
                margin-bottom: 13px;

                .leftColumnTitle {
                    text-align: center;
                    font-size: 21px;
                }
            }

            .leftColumnBodyText {
                line-height: 168%;
                font-size: 13px;
            }

            .subTextMarginBottom {
                margin-bottom: 8px;
            }
        }

        .rightColumnContainer {
            padding: 25px 42px;
            width: 100%;

            .rightColumnHeader {
                .rightColumnTitle {
                    line-height: 168%;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                .rightColumnSubTitle {
                    margin-bottom: 13px;
                    font-size: 16px;
                }
            }

            .rightColumnBodyText {
                line-height: 168%;
                font-size: 13px;
            }

            .subTextMarginBottom {
                margin-bottom: 8px;
            }
        }
    }
}

// small: 767px
@include respond-to("small") {
    .lateralColumnContainer {
        .leftColumnContainer {
            padding: 23px 41px 0px 41px;

            .leftColumnHeader {
                margin-bottom: 12px;

                .leftColumnTitle {
                    font-size: 16px;
                }
            }

            .leftColumnBodyText {
                font-size: 12px;
            }

            .subTextMarginBottom {
                margin-bottom: 7px;
            }
        }

        .rightColumnContainer {
            padding: 23px 41px;

            .rightColumnHeader {
                .rightColumnTitle {
                    margin-bottom: 9px;
                    font-size: 15px;
                }

                .rightColumnSubTitle {
                    margin-bottom: 12px;
                    font-size: 14px;
                }
            }

            .rightColumnBodyText {
                font-size: 12px;
            }

            .subTextMarginBottom {
                margin-bottom: 7px;
            }
        }
    }
}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}