@import "../../styles/colors";
@import "../../styles/mixins";

.lateralColumnContainer {
    display: flex;
    align-items: center;

    .leftColumnContainer {
        display: flex;
        flex-direction: column;
        padding: 25px 40px;
        width: 50%;

        .leftColumnHeader {
            margin-bottom: 15px;

            .leftColumnTitle {
                color: $color-dark-x4-gray;
                font-size: 22px;
            }
        }

        .leftColumnBodyText {
            color: $color-dark-x2-gray;
            line-height: 170%;
            font-size: 14px;
        }

        .subTextMarginBottom {
            margin-bottom: 10px;
        }
    }

    .rightColumnContainer {
        display: flex;
        flex-direction: column;
        padding: 25px 40px;
        width: 50%;

        .rightColumnHeader {
            display: flex;
            flex-direction: column;

            .rightColumnTitle {
                color: $color-dark-x4-gray;
                line-height: 170%;
                text-align: center;
                margin-bottom: 12px;
                font-size: 19px;
            }

            .rightColumnSubTitle {
                color: $color-dark-x2-gray;
                text-align: center;
                margin-bottom: 15px;
                font-size: 16.5px;
                font-weight: 600;
            }
        }

        .rightColumnBodyText {
            display: flex;
            justify-content: center;
            color: $color-dark-x2-gray;
            line-height: 170%;
            font-size: 14px;
        }

        .subTextMarginBottom {
            margin: 10px 0px;
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {
    .lateralColumnContainer {
        flex-direction: column;

        .leftColumnContainer {
            padding-bottom: 0px;
            width: 100%;

            .leftColumnHeader {
                .leftColumnTitle {
                    text-align: center;
                }
            }
        }

        .rightColumnContainer {
            width: 100%;
        }
    }
}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}