@import "../../styles/colors";
@import "../../styles/mixins";

.columnContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@include respond-to("medium") {
    .columnContainer {
        padding: 12.5px 4px;
        width: 100%;
    }
}

@include respond-to("small") {
    .columnContainer {
        padding: 11.5px 4px;
    }
}

@include respond-to("extra-small") {
    .columnContainer {
        padding: 11px 4px;
    }
}

@include respond-to("extra-extra-small") {
    .columnContainer {
        padding: 10px 4px;
    }
}