@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;

    .innerContainer {
        width: 44%;
        height: 90px;
    }
}

@include respond-to("large") {
    .container {
        width: 425px;

        .innerContainer {
            width: 42%;
            height: 100px;
        }
    }
}

@include respond-to("medium") {
    .container {
        width: 470px;

        .innerContainer {
            width: 45%;
            height: 94px;
        }
    }
}

@include respond-to("small") {
    .container {
        flex-direction: column;
        width: 60%;

        .innerContainer {
            width: 100%;
            height: auto;
        }
    }
}

@include respond-to("extra-small") {
    .container {
        width: 80%;
    }
}