@import "../../styles/imgPaths.scss";

.iconCloudInfrastructure {
    background-image: $icon-cloud-infrastructure;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    height: 50px;
}

.iconCloudResources {
    background-image: $icon-cloud-resources;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    height: 62px;
}