@import "../../styles/imgPaths.scss";

.iconCloudInfrastructure {
    background-image: $icon-cloud-infrastructure;
    background-repeat: no-repeat;
}

.iconCloudResources {
    background-image: $icon-cloud-resources;
    background-repeat: no-repeat;
}