@import "../../styles/colors";
@import "../../styles/mixins";

.innerContainer {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: $color-dark-red;
    padding: 3.5px 9px;
    margin: 3px 0px;

    &:hover {
        background-color: $color-light-red;
        cursor: pointer;
    }

    .label {
        color: white;
        letter-spacing: 0.5px;
        font-weight: 500;
        font-size: 12px;
    }

    .iconArrow {
        margin-left: 6px;
    }
}

// large: 1199px
@include respond-to("large") {
    .innerContainer {
        border-radius: 40px;
        padding: 3.5px 8.5px;
        margin: 4px 0px;

        .label {
            font-size: 10px;
        }

        .iconArrow {
            width: 10px;
            height: auto;
        }
    }
}

// medium: 991px
@include respond-to("medium") {
    .innerContainer {
        margin: 5.5px 0px;
    }
}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}