@import "../../styles/mixins";

.container {
    display: flex;

    .image {
        margin-right: 18px;
    }

    .block {
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 9px;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
        }

        p {
            line-height: 170%;
            font-size: 13px;
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}