@import "../../styles/colors";

.table {
    border-collapse: separate;
    border-spacing: 6px;

    .tableRow {
        .tableCell {
            border: 1px solid $color-light-x5-gray;
            width: 50%;

            .cellContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2px;

                .boardImage {
                    margin: 2px;
                }

                .boardLink {
                    color: $color-dark-blue;
                }
            }

            .cellBackground {
                background-color: $color-light-x8-gray;
            }
        }
    }
}