@import "../../styles/colors";
@import "../../styles/mixins";

.table {
    border-collapse: separate;
    border-spacing: 0px 9px;

    .title {
        color: $color-dark-x3-gray;
        margin-bottom: 1px;
        text-align: left;
        font-weight: 600;
    }

    .cell {
        background-color: $color-light-x9-gray;
        padding: 4px 13px;

        .cellContent {
            text-align: right;
        }

        p {
            font-size: 13px;
        }
    }
}

@include respond-to("large") {
    .table {
        .cell {
            padding: 4px 12px;
        }
    }
}

@include respond-to("medium") {
    .table {
        .cell {
            padding: 4px 11px;

            p {
                font-size: 12px;
            }
        }
    }
}

@include respond-to("small") {
    .table {
        border-spacing: 0px 8px;

        .title {
            margin-bottom: 0px;
        }

        .cell {
            padding: 4px 10.5px;

            p {
                font-size: 11px;
            }
        }
    }
}

@include respond-to("extra-small") {
    .table {
        border-spacing: 0px 7px;

        .cell {
            padding: 3px 10px;
        }
    }
}

@include respond-to("extra-extra-small") {
    .table {
        .cell {
            p {
                font-size: 10px;
            }
        }
    }
}