@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border: 1px solid $light-x4-gray;
    border-radius: 10px;
    width: 518px;
    min-height: 418px;
    padding: 16px;

    .cardBody {
        border-top: 1px solid $light-x4-gray;
        margin-top: 12px;
        padding-top: 12px;
        width: 100%;

        .title {
            font-weight: 600;
        }

        .description {
            line-height: 170%;
        }

        .title,
        .description {
            margin-bottom: 12px;
            font-size: 13px;
        }
    }
}

@include respond-to("large") {
    .container {
        width: 415px;
        min-height: 460px;
    }
}

@include respond-to("medium") {
    .container {
        border-radius: 12px;
        width: 665px;
        min-height: 200px;

        .cardBody {

            .title,
            .description {
                font-size: 12.5px;
            }
        }
    }
}

@include respond-to("small") {
    .container {
        border-radius: 16px;
        width: 96%;
    }
}

@include respond-to("extra-small") {
    .container {
        border-radius: 18px;
        width: 94%;
        padding: 15.5px;

        .cardBody {
            margin-top: 11.5px;
            padding-top: 11.5px;

            .title,
            .description {
                margin-bottom: 11.5px;
                font-size: 12px;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        padding: 15px;

        .cardBody {
            margin-top: 11px;
            padding-top: 11px;

            .title,
            .description {
                margin-bottom: 11px;
                font-size: 11.5px;
            }
        }
    }
}