@import "../../styles/mixins";
@import "../../styles/colors";

.navContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $light-x4-gray;

    li {
        border-top: 1px solid $light-x4-gray;
        padding: 10px 0px;

        a {
            display: block;
            border-left: 3px solid white;
            color: $dark-x3-gray;
            padding-left: 9px;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                border-left-color: $dark-x2-red;
                color: $dark-x2-red;
            }
        }
    }

    .selectedSubItem {
        border-left-color: $dark-x2-red;
        color: $dark-x2-red;
    }
}

@include respond-to("large") {
    .navContainer {
        li {
            padding: 9px 0px;

            a {
                padding-left: 8px;
                font-size: 12px;
            }
        }
    }
}

@include respond-to("medium") {
    .navContainer {
        li {
            padding: 9.5px 0px;

            a {
                padding-left: 8.5px;
                font-size: 12.5px;
            }
        }
    }
}

@include respond-to("small") {
    .navContainer {
        li {
            padding: 9px 0px;

            a {
                padding-left: 8px;
                font-size: 12px;
            }
        }
    }
}

@include respond-to("extra-small") {
    .navContainer {
        li {
            padding: 8.5px 0px;

            a {
                padding-left: 7.5px;
                font-size: 11.5px;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .navContainer {
        li {
            padding: 8px 0px;

            a {
                padding-left: 7px;
                font-size: 11px;
            }
        }
    }
}