@import "../../styles/mixins";
@import "../../styles/colors";

.navContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-light-x4-gray;

    li {
        border-top: 1px solid $color-light-x4-gray;
        padding: 10px 0px;

        a {
            display: block;
            border-left: 3px solid white;
            color: $color-dark-x3-gray;
            padding-left: 10px;

            &:hover {
                border-left-color: $color-dark-red;
                color: $color-dark-red;
            }
        }
    }

    .selectedSubItem {
        border-left-color: $color-dark-red;
        color: $color-dark-red;
    }
}