@import "../../styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .innerContainer {
        display: flex;
        margin-top: 25px;

        .block {
            margin-right: 16.5px;
            width: 18.75%;
            height: auto;
        }

        .blockMargin {
            margin-right: 0px;
        }

        p {
            line-height: 170%;
        }
    }
}

@include respond-to("large") {
    .container {
        .innerContainer {
            .block {
                width: 18.5%;
            }
        }
    }
}

@include respond-to("medium") {
    .container {
        .innerContainer {
            .block {
                width: 18%;
            }

            p {
                line-height: 168%;
            }
        }
    }
}

@include respond-to("small") {
    .container {
        align-items: center;

        .innerContainer {
            flex-direction: column;
            align-items: center;
            margin-top: 0px;

            .block {
                margin-top: 7.5px;
                margin-right: 0px;
                width: 68%;
            }
        }
    }
}

@include respond-to("extra-small") {
    .container {
        .innerContainer {
            .block {
                width: 75%;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        .innerContainer {
            .block {
                margin-top: 6.5px;
            }
        }
    }
}