@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .secondaryContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $dark-x4-gray;
        padding-left: 608px;
        height: 44.5px;

        .secondaryBlock {
            display: flex;
            font-size: 12px;

            .coloredBlock {
                display: flex;

                li {
                    margin-left: 13px;

                    a {
                        background-color: $dark-x1-blue;
                        border-radius: 15px;
                        padding: 5px 10px;
                        color: $white;

                        &:hover {
                            background-color: $light-x1-blue;
                        }
                    }
                }
            }

            .uncoloredBlock {
                display: flex;

                li {
                    margin-left: 13px;

                    a {
                        color: $light-x5-blue;
                    }
                }

                .borderRight {
                    border-right: 3px solid $light-x5-blue;
                    padding-right: 13px;
                }
            }
        }
    }

    .mainContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        background-color: $white;
        box-shadow: 0px 5px 10px 0px $dark-x5-gray;
        padding-bottom: 13px;

        .imageContainer {
            margin: -35px 106px 0px 11.5px;

            .logo {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .toggler {
            display: none;
        }

        .itemLine {
            display: flex;
            align-items: center;

            .itemContainer {
                display: flex;
                margin: 0px 6px;
                height: max-content;

                a {
                    border-left: 3px solid white;
                    padding: 0px 8px 0px 5px;
                    color: $dark-x4-gray;
                    font-weight: 500;
                    font-size: 14px;

                    &:hover {
                        border-left: 3px solid $dark-x2-red;
                        color: $dark-x2-red;
                    }
                }

                .selectedNavbarItem {
                    border-left: 3px solid $dark-x2-red;
                    color: $dark-x2-red;
                }

                .searchBarInput {
                    background-size: 15px 15px;
                    background-position: 7px;
                    border-radius: 17px;
                    margin: 0px 8px;
                    padding: 4px 8px 4px 28px;
                    font-size: 14px;
                    width: 185px;
                }

                .dropdown {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 121px;
                    margin-left: 10.5px;
                    padding-top: 7px;
                    background-color: $white;
                    border: 1px solid $light-x4-gray;

                    a {
                        display: block;
                        border: none;
                        padding: 3.5px 14px 12px 14px;

                        &:hover {
                            color: $dark-x2-red;
                        }
                    }

                    .activePage {
                        color: $dark-x2-red;
                    }
                }
            }
        }
    }

    .outerExpandedDropdownContainer {
        .expandedDropdownContainer {
            display: none;
        }
    }
}

@include respond-to("large") {
    .container {
        .secondaryContainer {
            padding-left: 436px;
        }

        .mainContainer {
            padding: 0px 7px 13px 7px;

            .imageContainer {
                margin: -35px 48px 0px 9.5px;
            }

            .itemLine {
                .itemContainer {
                    margin: 0px 3.5px;

                    a {
                        font-size: 12px;
                    }

                    .searchBarInput {
                        padding: 3.5px 7.5px 3.5px 27.5px;
                        font-size: 12px;
                        width: 152px;
                    }
                }
            }
        }
    }
}

@include respond-to("medium") {
    .container {
        .secondaryContainer {
            padding-left: 203px;
            position: relative;
            z-index: 1;

            .secondaryBlock {
                font-size: 11.5px;

                .coloredBlock {
                    li {
                        margin-left: 12px;

                        a {
                            padding: 4.5px 9.5px;
                        }
                    }
                }

                .uncoloredBlock {
                    li {
                        margin-left: 12px;
                    }

                    .borderRight {
                        padding-right: 12px;
                    }
                }
            }
        }

        .mainContainer {
            flex-direction: column;
            align-items: center;

            .imageContainer {
                display: flex;
                justify-content: center;
                margin: -35px 0px 0px 0px;
                padding-right: 442px;

                .logo {
                    z-index: 1;
                }
            }

            .itemLine {
                justify-content: center;
                margin: 9px 0px 1px 0px;
                padding-left: 35px;
                width: 100%;

                .itemContainer {
                    margin: 0px 4px;

                    a {
                        font-size: 12.5px;
                    }

                    .searchBarInput {
                        font-size: 12.5px;
                        width: 168px;
                    }

                    .dropdown {
                        top: 153px;
                    }
                }
            }
        }
    }
}

@include respond-to("small") {
    .container {
        .secondaryContainer {
            justify-content: flex-end;
            height: max-content;
            padding-left: 0px;

            .secondaryBlock {
                flex-direction: column;
                margin: 15px 0px 10.5px 0px;
                font-size: 11px;

                .coloredBlock {
                    margin: 0px 8px;

                    li {
                        margin: 0px 6px;
                    }
                }

                .uncoloredBlock {
                    justify-content: center;
                    margin: 12px 8px 0px 8px;

                    li {
                        margin: 0px 6px;
                    }

                    .borderRight {
                        border-right: none;
                        padding-right: 0px;
                    }
                }
            }
        }

        .mainContainer {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            .imageContainer {
                width: max-content;
                margin-left: 17.5px;
                padding-right: 0px;
            }

            .toggler {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid $light-x3-gray;
                background-color: $white;
                border-radius: 4px;
                margin: 0px 19px 2.5px 0px;
                cursor: pointer;
                width: 33px;
                height: 32px;

                &:hover {
                    background-color: $light-x3-gray;
                }

                .bar {
                    width: 17px;
                    margin: 2px 0px;
                    border-radius: 1px;
                    border-bottom: 2px solid $light-x1-gray;
                }
            }

            .toggler[aria-expanded="true"] {
                background-color: $light-x3-gray;
            }

            .itemLine {
                display: none;
            }
        }

        .outerExpandedDropdownContainer[aria-expanded="false"] {
            display: none;
        }

        .outerExpandedDropdownContainer[aria-expanded="true"] {
            height: max-content;
            margin-top: 4px;

            .expandedDropdownContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-bottom: 1px solid $light-x4-gray;

                .expandedSearchBarContainer {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .expandedSearchBarInput {
                        background-size: 15px 15px;
                        background-position: 7px;
                        border-radius: 15px;
                        margin: 14px 15px;
                        padding: 3.5px 7.5px 3.5px 27.5px;
                        font-size: 13.5px;
                        width: 100%;
                    }
                }

                .wrapExpandedDropdown {
                    width: 100%;

                    .expandedItemContainer {
                        border: none;
                        border-top: 1px solid $light-x4-gray;
                        background-color: $white;
                        text-align: left;
                        cursor: pointer;
                        width: 100%;

                        &:hover {
                            .itemName {
                                &:hover {
                                    background-color: $light-x9-gray;
                                    color: $dark-x2-red;
                                }
                            }

                            .noDropdown {
                                background-color: $light-x9-gray;
                                color: $dark-x2-red;
                            }
                        }

                        .expandedSubDropdown {
                            display: flex;
                            flex-direction: column;
                            border-top: 1px solid $light-x4-gray;

                            a {
                                display: block;
                                color: $dark-x3-gray;
                                padding: 9px 28px;
                                font-size: 13.5px;

                                &:hover {
                                    background-color: $light-x9-gray;
                                    color: $dark-x2-red;
                                }
                            }
                        }

                        .itemName {
                            padding: 9px 15px;
                        }

                        .noDropdown {
                            padding: 9.5px 15px;
                        }

                        .itemName,
                        .noDropdown {
                            color: $dark-x3-gray;
                            font-size: 13.5px;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("extra-small") {
    .container {
        .secondaryContainer {
            .secondaryBlock {
                margin: 13.7px 0px 9.7px 0px;
                font-size: 10px;

                .coloredBlock {
                    margin: 0px 6px;

                    li {
                        margin: 0px 5.5px;

                        a {
                            padding: 4px 9px;
                        }
                    }
                }

                .uncoloredBlock {
                    margin: 11.5px 6px 0px 6px;

                    li {
                        margin: 0px 5.5px;
                    }
                }
            }
        }

        .mainContainer {
            .imageContainer {
                margin: -23px 0px 0px 14px;

                .logo {
                    width: 178px;
                    height: auto;
                }
            }

            .toggler {
                margin: 0px 17px 2px 0px;
                width: 27px;
                height: 26px;

                .bar {
                    width: 13px;
                    margin: 1.5px 0px;
                }
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        .secondaryContainer {
            .secondaryBlock {
                font-size: 9px;

                .coloredBlock {
                    margin: 0px 5px;

                    li {
                        margin: 0px 5px;
                    }
                }

                .uncoloredBlock {
                    margin: 11px 5px 0px 5px;

                    li {
                        margin: 0px 5px;
                    }
                }
            }
        }

        .mainContainer {
            .imageContainer {
                margin: -19px 0px 0px 13px;

                .logo {
                    width: 148px;
                }
            }

            .toggler {
                margin-right: 15.5px;
                width: 26px;
                height: 25px;

                .bar {
                    width: 13px;
                }
            }
        }
    }
}