@import "../../styles/colors";
@import "../../styles/svgs";

.navbarContainer {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.imageContainer {
    margin: -35px 44px 0px 28px;
}

.siteLogo {
    &:hover {
        cursor: pointer;
    }
}

.secondaryNavbar {
    background-color: $color-dark-gray;
    height: 44.5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.secondaryNavbarItemsList {
    display: flex;
    margin-right: 5px;
    font-size: 11.5px;

    .listColoredBlock {
        display: flex;

        .itemColoredBlock {
            margin-right: 12px;
    
            a {
                color: white;
                padding: 4.5px 9.5px;
                text-decoration: none;
                background-color: $color-dark-text;
                border-radius: 15px;
    
                &:hover {
                    background-color: $color-light-blue;
                }
            }
        }
    }

    .listBlock {
        display: flex;

        .itemBlock {
            margin-right: 12px;

            a {
                color: $color-secondary-navbar-block-item;
                text-decoration: none;
            }
        }

        .itemBlockRightBorder {
            border-right: 3px solid $color-secondary-navbar-block-item;
            padding-right: 12px;
        }
    }
}

.mainNavbar {
    background-color: white;
    box-shadow: 0 2px 8px -1px silver;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.navbarItemsLine {
    display: flex;
    align-items: flex-end;
    margin-right: 8px;

    .navbarItem {
        margin: 0px 10px;
        height: 28px;
        display: flex;
        align-items: center;

        a {
            color: $color-dark-gray;
            text-decoration: none;
            font-weight: 500;
            font-size: 13.1px;

            &:hover {
                color: $color-dark-red;
            }
        }
    
        .searchBar {
            font-weight: 500;
            font-size: 13.5px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 15px;
            border: 1px solid $color-search-bar-border;
            border-top: 2px solid $color-search-bar-border-top;
            padding: 3.5px 7.5px 3.5px 27.5px;
            width: 133px;
            background-repeat: no-repeat;
            background-image: $icon-search;
            background-size: 15px 15px;
            background-position: 7px;
            background-color: $color-table-row;
        }

        &:hover {
            .subMenuDropdown {
                top: 126px;
                padding-top: 7px;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin-left: 8px;
                border: 1px solid $color-navbar-expanded-menu-border;
                background-color: white;

                a {
                    padding: 3.5px 14px 12px 14px;
                    
                    &:hover {
                        color: $color-dark-red;
                    }
                }

                .innerSubMenuItem {
                    padding-left: 26px;
                    padding-top: 0px;
                }

                .subMenuDivision {
                    margin-bottom: 5px;
                    width: 100%;
                    border-bottom: 1px solid $color-navbar-main-submenu-border;
                }
            }
        }
    }
}

.navbarToggler,
.subMenuDropdown,
.expandedMenuContainer {
    display: none;
}

@media screen and (max-width: 991px) {
    .secondaryNavbar {
        justify-content: center;
    }

    .secondaryNavbarItemsList {
        margin: 0px 0px 0px 258px;
    }

    .mainNavbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: -35px 0px 0px 28px;
        padding-right: 491.5px;
    }

    .navbarItemsLine {
        width: 100%;
        margin: 8px 0px 1px 0px;
        padding: 0px 8px 0px 64.5px;
        justify-content: center;

        .navbarItem {
            margin: 0px 11px;

            a {
                font-size: 13.5px;
            }

            .searchBar {
                width: 168px;
            }

            &:hover {
                .subMenuDropdown {
                    top: 158px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .secondaryNavbar {
        justify-content: flex-end;
        height: max-content;
    }

    .secondaryNavbarItemsList {
        flex-direction: column;
        margin: 14.6px 0px 10.1px 0px;
        font-size: 11.1px;

        .listColoredBlock {
            margin: 0px 5.8px;

            .itemColoredBlock {
                margin: 0px 5.8px;
            }
        }

        .listBlock {
            justify-content: center;
            margin: 11.7px 5.8px 0px 5.8px;

            .itemBlock {
                margin: 0px 5.8px;
            }

            .itemBlockRightBorder {
                border-right: none;
                padding-right: 0px;
            }
        }
    }

    .mainNavbar {
        flex-direction: row;
        align-items: flex-end;
    }

    .imageContainer {
        width: max-content;
        justify-content: flex-start;
        padding-right: 0px;
    }

    .navbarToggler {
        width: 35px;
        height:  30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        margin-right: 20px;
        border: 1px solid $color-search-bar-border;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: $color-search-bar-border;
        }
    }

    .navbarToggler[aria-expanded="true"] {
        background-color: $color-search-bar-border;
    }

    .iconBar {
        width: 18px;
        margin: 2.25px 0px;
        border-radius: 1px;
        border-bottom: 2px solid $color-navbar-toggle-icon-bar;
    }

    .navbarItemsLine,
    .expandedSubMenuItem,
    .navDropdown[aria-expanded="false"] {
        display: none;
    }

    .navDropdown[aria-expanded="true"] {
        margin-top: 4px;
        height: max-content;
    }

    .expandedMenuContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        border-bottom: 1px solid $color-navbar-expanded-menu-border;

        .extendSearchBar {
            display: flex;
            justify-content: center;
            width: 100%;

            .expandedSearchBar {
                width: 100%;
                font-weight: 500;
                font-size: 13.5px;
                font-family: 'Open Sans', sans-serif;
                border-radius: 15px;
                background-color: $color-table-row;
                border: 1px solid $color-search-bar-border;
                border-top: 2px solid $color-search-bar-border-top;
                padding: 3.5px 7.5px 3.5px 27.5px;
                background-repeat: no-repeat;
                background-image: $icon-search;
                background-size: 15px 15px;
                background-position: 7px;
                margin: 14px 15px;
            }
        }

        .wrapExpandedMenu {
            width: 100%;
        }

        .expandedMenuItem {
            border: none;
            border-top: 1px solid $color-navbar-expanded-menu-border;
            background-color: white;
            width: 100%;
            text-align: left;
            cursor: pointer;

            &:hover {
                .itemName {
                    &:hover {
                        background-color: $color-table-row;
                        color: $color-dark-red;
                    }
                }

                .noSubMenu {
                    color: $color-dark-red;
                    background-color: $color-table-row;
                }
            }

            .expandedSubMenuItem[aria-expanded="true"] {
                display: flex;
                flex-direction: column;
                border-top: 1px solid $color-navbar-expanded-menu-border;
                
                a {
                    color: $color-mix-gray;
                    font-size: 13.5px;
                    text-decoration: none;
                    padding: 9px 28px;

                    &:hover {
                        background-color: $color-table-row;
                        color: $color-dark-red;
                    }
                }

                .innerExpandedMenu {
                    padding-left: 44.5px;
                }
            }

            .itemName {
                color: $color-mix-gray;
                font-size: 13.5px;
                padding: 9px 15px;
            }

            .noSubMenu {
                color: $color-mix-gray;
                font-size: 13.5px;
                padding: 9px 15px;
            }
        }
    }
}
