@import "../../styles/colors";

.navbarContainer {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.siteLogo {
    margin: -35px 48px 0px 20px;
}

.secondaryNavbar {
    background-color: $color-dark-gray;
    height: 44px;
}

.mainNavbar {
    background-color: white;
    box-shadow: 0 2px 8px -1px silver;
    padding-bottom: 12px;
    display: flex;
}

.navbarItems {
    list-style: none;
    display: flex;
    align-items: flex-end;

    a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        margin: 0px 14px;
    }
}

.navbarToggler {
    display: none;
}

@media screen and (max-width: 968px) {
    .navbarToggler {
        width: 31.5px;
        height:  28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 21px;
        right: 21px;
    }

    .iconBar {
        width: 17px;
        margin: 2.5px 0px;
        border-radius: 1px;
        border-bottom: 1px solid black;
    }

    .navbarItems {
        display: none;
    }
}
