@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin: 16px 0px;

    li {
        list-style-type: disc;
        margin: 8px 0px 8px 24px;
        padding-left: 5px;
        line-height: 160%;

        &::marker {
            color: $color-dark-x4-gray;
        }

        .content {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 16px;
            }

            a {
                text-decoration: underline;
                font-size: 15px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@include respond-to("large") {
    .container {
        margin: 15px 0px;

        li {
            margin: 7.5px 0px 7.5px 22.5px;
            padding-left: 4.5px;

            .content {
                .icon {
                    margin-right: 15.5px;
                }
            }
        }
    }
}

@include respond-to("medium") {
    .container {
        margin: 14px 0px;

        li {
            margin: 7px 0px 7px 21px;
            padding-left: 4px;

            .content {
                .icon {
                    margin-right: 15px;
                }

                a {
                    font-size: 14.5px;
                }
            }
        }
    }
}

@include respond-to("small") {
    .container {
        li {
            .content {
                .icon {
                    width: auto;
                    height: 17px;
                }

                a {
                    font-size: 14px;
                }
            }
        }
    }
}

@include respond-to("extra-small") {
    .container {
        margin: 13px 0px;

        li {
            margin: 6.5px 0px 6.5px 19.5px;
            padding-left: 3.5px;

            .content {
                .icon {
                    margin-right: 14.5px;
                }

                a {
                    font-size: 13.5px;
                }
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        margin: 12px 0px;

        li {
            margin: 6px 0px 6px 18px;
            padding-left: 3px;

            .content {
                .icon {
                    margin-right: 14px;
                    height: 16px;
                }

                a {
                    font-size: 13px;
                }
            }
        }
    }
}