@import "../../styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin: 16px 0px;

    li {
        margin: 8px 0px 8px 24px;
        padding-left: 4px;
        list-style-type: disc;

        .icon {
            margin-right: 8px;
        }

        a {
            text-decoration: underline;
            font-size: 15px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}