@import "../../styles/mixins";

.container {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

@include respond-to("medium") {
    .container {
        flex-direction: column;
    }
}

@include respond-to("small") {
    .container {
        padding-top: 23px;
    }
}

@include respond-to("extra-small") {
    .container {
        padding-top: 22px;
    }
}

@include respond-to("extra-extra-small") {
    .container {
        padding-top: 20px;
    }
}