@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    padding: 0px 20px 0px 4px;
    height: 100%;

    .megaTitle {
        line-height: 50px;
        font-size: 44px;

        .mainSubTitle {
            color: $light-x4-blue;
        }
    }

    .head {
        display: flex;
        align-items: center;

        .image {
            margin-right: 21px;
            height: max-content;
        }

        .title {
            line-height: 170%;
        }
    }

    .introBody,
    .lastIntroBody {
        font-weight: lighter;
        line-height: 38px;
        font-size: 17px;
    }

    .bodyText,
    .lastBodyText {
        p {
            line-height: 170%;
        }
    }

    .megaTitle,
    .head,
    .introBody,
    .bodyText {
        margin-bottom: 25px;
    }
}

@include respond-to("large") {
    .container {
        .megaTitle {
            line-height: 46.5px;
            font-size: 41px;
        }

        .head {
            .image {
                margin-right: 19px;
                width: 58px;
                height: auto;
            }
        }
    }
}

@include respond-to("medium") {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;

        .megaTitle {
            text-align: center;
            line-height: 42.5px;
            font-size: 37.5px;
        }

        .head {
            justify-content: center;

            .image {
                margin-right: 18px;
                width: 54px;
            }

            .title {
                line-height: 168%;
            }
        }

        .bodyText,
        .lastBodyText {
            p {
                line-height: 168%;
            }
        }
    }
}

@include respond-to("small") {
    .container {
        align-items: center;

        .megaTitle {
            line-height: 39px;
            font-size: 32px;
        }

        .head {
            .image {
                margin-right: 16px;
                width: 48px;
            }
        }

        .introBody,
        .lastIntroBody {
            line-height: 28px;
        }

        .megaTitle,
        .head,
        .introBody,
        .bodyText {
            margin-bottom: 23px;
        }
    }
}

@include respond-to("extra-small") {
    .container {
        .megaTitle {
            line-height: 34.5px;
            font-size: 28.5px;
        }

        .head {
            .image {
                margin-right: 13.5px;
                width: 40px;
            }
        }

        .megaTitle,
        .head,
        .introBody,
        .bodyText {
            margin-bottom: 22px;
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        .megaTitle {
            line-height: 30.5px;
            font-size: 25px;
        }

        .head {
            .image {
                margin-right: 11.5px;
                width: 34px;
            }
        }

        .megaTitle,
        .head,
        .introBody,
        .bodyText {
            margin-bottom: 20px;
        }
    }
}