@import "../../styles/colors";
@import "../../styles/mixins";

.container,
.customContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        margin-bottom: -38px;
        z-index: 1;
    }
}

.card,
.customCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-light-x4-gray;
    border-radius: 10px;

    .title {
        text-align: center;
    }
}

.container {
    .card {
        padding: 46px 50px 19px 50px;
        width: 450px;
        min-height: 240px;

        .title {
            margin-bottom: 14px;
        }

        .list {
            margin-bottom: 6px;
            width: 300px;

            li {
                color: $color-dark-x2-gray;
                margin-bottom: 8px;
                font-size: 15px;
            }
        }

        .bullet {
            list-style-type: disc;
        }
    }

    .background {
        background-color: $color-light-x8-gray;
    }
}

.customContainer {
    .customCard {
        padding: 51px 55px 23px 55px;
        width: 720px;

        .title {
            margin-bottom: 19px;
        }

        .description {
            margin-bottom: 19px;
            text-align: center;
            line-height: 200%;
            font-size: 15px;
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}