@import "../../styles/mixins";

.container {
  display: flex;
}

.content {
  margin-left: 30px;
}

.supportPage {
  display: flex;
  width: 66%;
  padding: 30px 15px 10px 45px;

  p {
    font-size: 15px;
    line-height: 28px;
  }

  ul {
    list-style-type: disc;
    margin-left: 13px;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 12px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 20px 0;

    > a {
      color: #4d4d4d;
    }
  }

  h1 {
    color: #474747;
  }

  h2 {
    margin-top: 0;
  }

  h5 {
    margin-top: 30px;
  }

  .hiddenAnchor {
    display: none;
  }

  ol {
    margin-left: 14px;
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 12px;
  }

  .instructionalImage {
    width: 95%;
    margin: 10px auto;
    padding: 1%;
    border: 2px solid #dfdfdf;
  }

  .cardCont {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .card {
    flex: 0 1 50%;
    min-height: 100px;
    width: 250px;
  }

  pre {
    font-size: 13px;
    color: #475055;
    border: 1px solid #dedfe1;
    border-radius: 4px;
    background-color: #e5f3fe;
    padding: 10px;
    margin: 0 0 10px 0;
  }

  code {
    color: #475055;
    padding: 2px 4px;
    border: 1px solid #dedfe1;
    border-radius: 15px;
    background-color: #e5f3fe;
    font-size: 90%;
  }

  table {
    font-size: 13px;
    line-height: 23px;
  }

  th {
    text-align: left;
    color: #4f4f4f;
  }

  tr:nth-child(even) {
    background: #f8f8f8;
  }

  th,
  td {
    border: 1px solid #c7c7c7;
    padding: 5px 15px;
  }

  caption {
    text-align: left;
  }

  .instructionExample {
    border: 1px solid #c7c7c7;
    padding: 15px;
  }
}

@include respond-to("medium") {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@include respond-to("small") {
  .container {
    width: 100%;
  }
}
