@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/imgPaths";

.jumbotronContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $color-light-x4-gray;
    background-color: $color-light-x6-blue;
    background-image: $preface-top;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1200px;
    padding: 22.5px 0px;

    .jumbotronBody {
        color: $color-dark-x1-gray;
        text-align: center;
        line-height: 165%;
        margin-top: 8.5px;
        width: 720px;

        p {
            font-size: 18px;
        }

        a {
            text-decoration: underline;
        }
    }

    .jumbotronBottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        .jumbotronImage {
            margin: 9.5px 0px;
            width: 76px;
            height: auto;
        }

        .jumbotronButton {
            background-color: $color-dark-x1-blue;
            background-image: $icon-arrow-white;
            background-repeat: no-repeat;
            background-position: center right 11.5px;
            background-size: 11px 11px;
            border-radius: 15px;
            color: white;
            padding: 4.5px 28.5px 4.5px 11.5px;
            font-size: 12.5px;

            &:hover {
                background-color: #3e97d8;
            }
        }
    }
}

.stretchBackground {
    background-size: 1120px;
}

@include respond-to("large") {
    .jumbotronContainer {
        background-size: 1130px;
        padding: 22px 0px;

        .jumbotronBody {
            width: 650px;

            p {
                font-size: 17.5px;
            }
        }

        .jumbotronBottom {
            .jumbotronImage {
                width: 74px;
            }

            .jumbotronButton {
                font-size: 11.5px;
            }
        }
    }

    .stretchBackground {
        background-size: 1080px;
    }
}

@include respond-to("medium") {
    .jumbotronContainer {
        background-size: 1070px;
        padding: 21px 0px;

        .jumbotronBody {
            margin-top: 8px;
            width: 600px;

            p {
                font-size: 16px;
            }
        }

        .jumbotronBottom {
            .jumbotronImage {
                margin: 9px 0px;
                width: 71px;
            }

            .jumbotronButton {
                background-position: center right 11px;
                padding: 4px 28px 4px 11px;
            }
        }
    }
}

@include respond-to("small") {
    .jumbotronContainer {
        background-size: 129.5%;
        padding: 20px;

        .jumbotronTitle {
            text-align: center;
            width: 61%;
        }

        .jumbotronBody {
            margin-top: 7.5px;
            padding: 0% 7%;
            width: 92%;

            p {
                font-size: 15.5px;
            }
        }

        .jumbotronBottom {
            .jumbotronImage {
                width: 68px;
            }

            .jumbotronButton {
                background-position: center right 10.5px;
                background-size: 10.5px 10.5px;
                padding: 4px 27.5px 4px 10.5px;
                font-size: 11px;
            }
        }
    }

    .stretchBackground {
        background-size: 118%;
    }
}

@include respond-to("extra-small") {
    .jumbotronContainer {
        padding: 18px;

        .jumbotronTitle {
            width: 53%;
        }

        .jumbotronBody {
            width: 90%;

            p {
                font-size: 13px;
            }
        }

        .jumbotronBottom {
            .jumbotronImage {
                margin: 8.5px 0px;
                width: 58px;
            }

            .jumbotronButton {
                background-position: center right 9px;
                padding: 3.5px 26.5px 3.5px 9.5px;
                font-size: 10px;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .jumbotronContainer {
        padding: 16.5px;

        .jumbotronTitle {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .jumbotronBody {
            margin-top: 7px;

            p {
                font-size: 11.5px;
            }
        }

        .jumbotronBottom {
            .jumbotronImage {
                margin: 8px 0px;
                width: 53px;
            }

            .jumbotronButton {
                background-size: 9.5px 9.5px;
                padding: 3px 24.5px 3px 9px;
                font-size: 9.5px;
            }
        }
    }
}