@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    justify-content: center;
    width: 549px;

    .block {
        display: flex;
        flex-direction: column;

        li {
            p {
                display: list-item;
                list-style-type: disc;
                margin-left: 16px;
                line-height: 190%;
            }
        }
    }
}

@include respond-to("large") {
    .container {
        width: 449px;
    }
}

@include respond-to("medium") {
    .container {
        width: 100%;

        .block {
            align-items: center;

            li {
                p {
                    font-size: 13.5px;
                }
            }
        }
    }
}

@include respond-to("small") {
    .container {
        .block {
            li {
                p {
                    list-style-position: inside;
                    text-align: center;
                    font-size: 13px;
                }
            }
        }
    }
}

@include respond-to("extra-small") {
    .container {
        .block {
            li {
                p {
                    font-size: 12.5px;
                }
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        .block {
            li {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}