@import '../../styles/colors';

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footerHeadContainer {
        display: flex;
    }

    .footerTailContainer {
        display: flex;
        background-color: $color-dark-blue;
    }
}