@import '../../styles/colors';

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-dark-text;
    padding: 5px 0;
    margin-top: 14px;

    p {
        color: white;
        text-align: center;
        font-size: 15px;
    }
}
