@import "../../styles/colors";
@import "../../styles/mixins";

.cardContainer {
    display: flex;
    align-items: center;
    border: 1px solid $color-light-x4-gray;
    border-radius: 10px;
    height: 120px;
    margin: 14px;

    .image {
        margin: 0px 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .title {
            font-weight: 500;
            font-size: 14.5px;
            margin-bottom: 7px;

            a {
                text-decoration: underline;
                color: $color-dark-blue;

                &:hover {
                    color: $color-light-x3-blue;
                }
            }
        }

        .bodyText {
            color: $color-dark-x2-gray;
            font-size: 13px;
        }
    }
}

// large: 1199px
@include respond-to("large") {
    .cardContainer {
        height: 100px;
        margin: 12px;

        .image {
            width: 49px;
            height: auto;
            margin: 0px 14px;
        }

        .cardContent {
            margin-right: 14px;

            .title {
                font-size: 12px;
            }

            .bodyText {
                font-size: 11.5px;
            }
        }
    }
}

// medium: 991px
@include respond-to("medium") {}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}