@import "../../styles/colors";
@import "../../styles/mixins";

.cardContainer {
    display: flex;
    align-items: center;
    border: 1px solid $color-light-x4-gray;
    border-radius: 10px;
    margin: 14px;
    height: 120px;

    .image {
        margin: 0px 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .title {
            margin-bottom: 7px;
            font-weight: 500;
            font-size: 14.5px;

            a {
                text-decoration: underline;
                color: $color-dark-blue;

                &:hover {
                    color: $color-light-x3-blue;
                }
            }
        }

        .bodyText {
            color: $color-dark-x2-gray;
            font-size: 13px;
        }
    }
}

@include respond-to("large") {
    .cardContainer {
        margin: 12px;
        height: 100px;

        .image {
            margin: 0px 14px;
            width: 49px;
            height: auto;
        }

        .cardContent {
            margin-right: 14px;

            .title {
                font-size: 12px;
            }

            .bodyText {
                font-size: 11.5px;
            }
        }
    }
}

@include respond-to("medium") {
    .cardContainer {
        margin: 9px;
        width: 436px;
        height: 83px;

        .image {
            margin: 0px 15px;
            width: 43px;
        }

        .cardContent {
            margin-right: 15x;

            .title {
                margin-bottom: 6.5px;
                font-size: 12.5px;
            }

            .bodyText {
                font-size: 11.5px;
            }
        }
    }
}

@include respond-to("small") {
    .cardContainer {
        flex-direction: column;
        justify-content: center;
        margin: 11px 0px;
        width: 60%;
        height: 155px;

        .image {
            margin: 0px 0px 10px 0px;
            width: 46px;
        }

        .cardContent {
            margin: 0px;

            .title {
                margin-bottom: 10px;
                line-height: 150%;
                text-align: center;
                font-size: 13px;
            }

            .bodyText {
                margin: 0px 25px;
                line-height: 150%;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}

@include respond-to("extra-small") {
    .cardContainer {
        margin: 10.5px 0px;
        padding: 5% 0%;
        height: 100%;

        .image {
            width: 44px;
        }

        .cardContent {
            .title {
                margin: 0px 16px 10px 16px;
                line-height: 160%;
                font-size: 12.5px;
            }

            .bodyText {
                margin: 0px 28px;
                font-size: 11.5px;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .cardContainer {
        padding: 6% 0%;
        width: 59.5%;

        .image {
            width: 43px;
        }

        .cardContent {
            .title {
                font-size: 12px;
            }

            .bodyText {
                margin: 0px 22px;
                font-size: 11px;
            }
        }
    }
}