@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    .label {
        font-weight: 500;
        font-size: 12.5px;

        .iconArrow {
            margin-left: 6px;
        }

        a {
            color: $color-dark-x2-red;

            &:hover {
                color: $color-light-x1-red;
            }
        }
    }
}

@include respond-to("large") {
    .container {
        margin-bottom: 24px;
    }
}

@include respond-to("medium") {
    .container {
        margin-bottom: 18px;

        .label {
            font-size: 11.5px;

            .iconArrow {
                width: 10px;
                height: auto;
            }
        }
    }
}

@include respond-to("small") {
    .container {
        margin-bottom: 22px;

        .label {
            font-size: 10.5px;

            .iconArrow {
                width: 9.5px;
            }
        }
    }
}

@include respond-to("extra-small") {
    .container {
        margin-bottom: 21px;
    }
}

@include respond-to("extra-extra-small") {
    .container {
        .label {
            font-size: 9.5px;

            .iconArrow {
                margin-left: 5.5px;
                width: 9px;
            }
        }
    }
}