@import "../../styles/colors";
@import "../../styles/mixins";

.table {
    table-layout: auto;
    width: 90%;

    thead {
        tr {
            th {
                border: 1px solid $light-x6-gray;
                padding: 6px 12.5px;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid $light-x6-gray;
                padding: 6px 12.5px;
            }
        }

        .rowBackground {
            background-color: $light-x11-gray;
        }
    }
}

@include respond-to("medium") {
    .table {
        table-layout: fixed;

        tbody {
            tr {
                td {
                    padding: 6px 0px;
                    text-align: center;
                }
            }
        }
    }
}

@include respond-to("small") {
    .table {
        thead {
            tr {
                th {
                    padding: 6px 11.5px;
                }
            }
        }
    }
}

@include respond-to("extra-small") {
    .table {
        thead {
            tr {
                th {
                    padding: 5.5px 11px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 5.5px 0px;
                }
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .table {
        thead {
            tr {
                th {
                    padding: 5px 10px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 5px 0px;
                }
            }
        }
    }
}