@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;

    li {
        list-style-type: disc;
        list-style-position: inside;
        margin-right: 22px;

        &::marker {
            color: $dark-x1-blue;
        }

        a {
            margin-left: -4px;
            font-size: 14px;
        }
    }
}

.verticalList {
    flex-direction: column;
}

@include respond-to("medium") {
    .container {
        li {
            a {
                font-size: 13px;
            }
        }
    }

    .verticalList {
        li {
            list-style-type: none;
            margin-right: 0px;
            text-align: center;

            a {
                margin-left: 0px;
            }
        }
    }
}

@include respond-to("small") {
    .container {
        flex-direction: column;

        li {
            margin-right: 0px;
            text-align: center;

            a {
                font-size: 12px;
            }
        }
    }
}

@include respond-to("extra-extra-small") {
    .container {
        li {
            line-height: 166%;

            a {
                font-size: 11px;
            }
        }
    }
}