@import "../styles/colors";
@import "../styles/svgs";

.darkHeader {
    color: $color-dark-gray;
    text-align: center;
}

.lightTextCenter {
    color: $color-light-gray;
    text-align: center;
}

.lightTextLeft {
    color: $color-light-gray;
    text-align: left;
    line-height: 34px;
    font-size: 20px;
}

.homeTitleDark {
    color: $color-dark-text;
    font-size: 32px;
    line-height: 40px;
}

.homeTitleLight {
    color: $color-light-text;
    font-size: 32px;
    line-height: 40px;
}

.newsTitle {
    padding-bottom: 5px;
    font-size: 18px;
    
    a {
        text-decoration: none;
    }
}

.newsText {
    line-height: 23px;
    font-size: 15.5px;
    color: $color-light-gray;
}

.imageFrame {
    display: flex;
    flex-direction: row;
    margin: 14px 14px 0px 14px;
}

.innerTextFrame {
    margin-left: 14px;
}

.tempElement {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: grey;
    border-style: solid;
    height: 150px;
    margin: 14px 14px 0px 14px;
    color: $color-mix-gray;
}

.tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 14px 0px 14px;
    overflow: hidden;
    white-space: wrap;
}

.table {
    border-collapse: collapse;
}

.tableCaption {
    text-align: left;
    margin-bottom: 3px;
    color: $color-mix-gray;
}

.tableData {
    text-align: left;
    padding: 5px 14px;
    background-color: $color-table-row;
    border-top: 10px solid white;
    color: $color-light-gray;
}

.tableLink {
    &:focus {
        color: $color-hover-link;
        text-decoration: none;
    }
}

.sectionLink {
    font-size: 15px;
    padding-bottom: 8px;
}

.bottomBorder {
    margin: 0px 18px;
    border-bottom: 1px dotted $color-mix-gray;
}

.verticalLine {
    border-right: 1px dotted $color-mix-gray;
}

.colorDarkGrayText {
    color: $color-dark-gray;
    padding: 14px 0px;
    padding-left: 73px;
}

.colorLightGrayText {
    color: $color-light-gray;
    line-height: 24px;
}

.unorderedList {
    margin-top: 11px;
    margin-right: 14px;

    ul {
        display: flex;

        li {
            color: $color-dark-text;
            margin-left: 28px;
        }
    
        a {
            font-size: 15.5px;
        }
    }
}

.iconCloudInfrastructure {
    background-image: $icon-cloud-infrastructure;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}

.iconDockstore {
    background-image: $icon-dockstore;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}

.redLink {
    margin: 14px 0px 10px 14px;
    color: $color-dark-red;
    text-decoration: none;
    font-size: 14.5px;
    font-weight: 500;
    width: max-content;

    &:hover {
        color: $color-light-red;
    }
}

.redLine {
    margin: 12px 0px 10px 14px;
    color: $color-dark-red;
}

.centerText {
    color: $color-dark-gray;
    text-align: center;
    margin-top: 18px;
}

.bodyText {
    line-height: 24px;
    font-size: 16px;
    color: $color-light-gray;
}

.shiftedTitle {
    margin-top: 20.5px;
    margin-right: 10px;
}

.iconCircleDocumentation {
    background-image: $icon-circle-documentation;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    margin: 16px 2px 0px 2px;
    width: 100px;
}

.iconCircleLightbulb {
    background-image: $icon-circle-lightbulb;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    margin: 16px 2px 0px 2px;
    width: 100px;
}

.iconCircleTraining {
    background-image: $icon-circle-training;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    margin: 16px 2px 0px 2px;
    width: 100px;
}

.centerCardTitle {
    color: $color-dark-gray;
    margin-top: 14px;
}

.cardList {
    color: $color-dark-text;

    li {
        margin-left: 15px;
        margin-top: 5px;

        a {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.fullHorizontalLine {
    width: 100%;
    margin-top: 12px;
    border-bottom: 1px dotted $color-mix-gray;
}

.imagesInLine {
    height: 48px;
    width: auto;
    margin: 14px 12px 0px 12px;
}

.imageNote {
    color: $color-light-gray;
    margin-top: 24px;
    font-size: 13px;
}

.grayLine {
    margin-left: 9px;
    margin-right: 9px;
    color: $color-dark-gray;
}

.lightGrayLink {
    font-size: 13px;
    margin-top: 2px;

    a {
        color: $color-dark-gray;
        text-decoration: none;

        &:hover {
            color: $color-faint-gray;
        }
    }
}

@media screen and (max-width: 904px) {
    .imagesInLine {
        height: 55px;
        width: max-content;
    }   
    
    .imageNote,
    .grayLine,
    .lightGrayLink {
        justify-content: center;
    }

    .imageNote {
        margin-top: 14px;
    }
}

@media screen and (max-width: 750px) {
    .iconCircleDocumentation {
        background-size: 50px 50px;
        margin: 13px 0px 8px 0px;
        height: 50px;
        width: auto;
    }
    
    .iconCircleLightbulb {
        background-size: 50px 50px;
        margin: 13px 0px 8px 0px;
        height: 50px;
        width: auto;
    }
    
    .iconCircleTraining {
        background-size: 50px 50px;
        margin: 13px 0px 8px 0px;
        height: 50px;
        width: auto;
    }

    .centerCardTitle {
        text-align: center;
        margin-top: 0;
    }
    
    .cardList {
        color: $color-dark-text;
    
        li {
            list-style: none;
            margin-left: 0px;
            text-align: center;
        }
    }
}
