@import "../../styles/colors";
@import "../../styles/imgPaths";
@import "../../styles/mixins";

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 4px;

    .caption {
        color: $color-dark-x2-gray;
        text-align: center;
        line-height: 170%;
        font-size: 14px;
        width: 700px;

        a {
            text-decoration: underline;
        }
    }
}

.background {
    background-image: $background-collab-cloud;
    background-position: bottom -65px left 36px;
    background-repeat: no-repeat;
    background-size: 185px;
}

@include respond-to ("large") {
    .sectionContainer {
        .caption {
            width: 600px;
        }
    }

    .background {
        background-position: bottom -63px left 37px;
        background-size: 178px;
    }
}

@include respond-to ("medium") {
    .sectionContainer {
        .caption {
            line-height: 168%;
            font-size: 13px;
            width: 310px;
        }
    }

    .background {
        background: none;
    }
}

@include respond-to ("small") {
    .sectionContainer {
        padding: 23px 4px;

        .caption {
            line-height: 168%;
            font-size: 12px;
            width: 64.5%;
        }
    }
}

@include respond-to ("extra-small") {
    .sectionContainer {
        padding: 22px 4px;

        .caption {
            width: 80%;
        }
    }
}

@include respond-to ("extra-extra-small") {
    .sectionContainer {
        padding: 20px 4px;

        .caption {
            font-size: 11px;
            width: 81%;
        }
    }
}