.supportFooterNav {
  font-size: 13px;
  font-weight: bold;
  color: #c1272c;
  display: flex;
  align-items: center;

  &:hover {
    color: #ec1c23;
  }
}
.iconArrow {
  margin: 0 6px;
  width: 12px;
  height: 12px;
}

.leftArrow {
  transform: rotate(180deg);
}

.cont {
  display: flex;
  margin-top: 60px;
  padding: 5px;
  justify-content: space-between;
}
