@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;

    .titleContainer {
        display: flex;
        align-items: center;
        margin: 0px 20.5px;

        .image {
            margin-right: 11.5px;
        }

        .title {
            color: $color-dark-x4-gray;
            white-space: nowrap;
            font-size: 18px;
        }
    }

    .bodyContainer {
        display: flex;

        .bodyText {
            color: $color-dark-x2-gray;
            margin: 0px 20.5px;
            line-height: 150%;
            font-size: 13px;
            width: 450px;
        }

        .isolateText {
            text-align: center;
            width: 700px;
        }

        .buttonContainer {
            display: flex;
            align-items: center;
            margin: 0px 20.5px;
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {
    .container {
        flex-direction: column;

        .title {
            text-align: center;
        }

        .bodyText {
            text-align: center;
        }
    }
}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}