$color-dark-text: #1176bd;
$color-light-text: #5bb0ec;
$color-hover-link: #5baeeb;
$color-dark-red: #c1272c;
$color-light-red: #ec1c23;
$color-dark-gray: #4d4d4d;
$color-light-gray: #676767;
$color-mix-gray: #474747;
$color-table-row: #f8f8f8;
$color-light-blue: #3e97d8;
$color-faint-gray: #acacac;
$color-navbar-expanded-menu-border: #dfdfdf;
$color-navbar-main-submenu-border: #eee;
$color-search-bar-border: #ddd;
$color-search-bar-border-top: #cecece;
$color-navbar-toggle-icon-bar: #888;
$color-secondary-navbar-block-item: #bad6ea;
