$color-dark-blue: #1176bd;

$color-light-x1-blue: #3e97d8;
$color-light-x2-blue: #4191ca;
$color-light-x3-blue: #5baeeb;
$color-light-x4-blue: #bad6ea;
$color-light-x5-blue: rgba(255, 255, 255, 0.75);

$color-dark-red: #c1272c;

$color-dark-x1-gray: #676767;
$color-dark-x2-gray: #474747;
$color-dark-x3-gray: #4d4d4d;

$color-light-x1-gray: #888;
$color-light-x2-gray: #acacac;
$color-light-x3-gray: #ddd;
$color-light-x4-gray: #dfdfdf;
$color-light-x5-gray: #cecece;
$color-light-x6-gray: #f8f8f8;
$color-light-x7-gray: #eee;