$color-dark-blue: #1176bd;

$color-light-x1-blue: #3e97d8;
$color-light-x2-blue: #5baeeb;
$color-light-x3-blue: #bad6ea;

$color-dark-red: #c1272c;

$color-dark-x1-gray: #474747;
$color-dark-x2-gray: #4d4d4d;

$color-light-x1-gray: #888;
$color-light-x2-gray: #ddd;
$color-light-x3-gray: #dfdfdf;
$color-light-x4-gray: #cecece;
$color-light-x5-gray: #f8f8f8;
$color-light-x6-gray: #eee;