@import "./colors";
@import "./svgs";

input {
    border: 1px solid $color-light-x3-gray;
    border-top: 2px solid $color-light-x5-gray;
    background-color: $color-light-x6-gray;
    background-image: $icon-search;
    background-repeat: no-repeat;
    font-weight: 500;
}