@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "./colors";
@import "./svgs";

body,
input {
    font-family: 'Open Sans', sans-serif;
}

input {
    border: 1px solid $color-light-x3-gray;
    border-top: 2px solid $color-light-x5-gray;
    background-color: $color-light-x6-gray;
    background-image: $icon-search;
    background-repeat: no-repeat;
    font-weight: 500;
}