$icon-search: url("/assets/navbar/icon-search.svg");
$icon-arrow-white: url("/assets/jumbotron/icon-arrow-white.svg");
$preface-top: url("/assets/jumbotron/preface-top.png");
$icon-cloud-infrastructure: url("/assets/leftColumn/icon-cloud-infrastructure.svg");
$icon-cloud-resources: url("/assets/common/icon-cloud-resources.svg");
$background-collab-cloud: url("/assets/statGrid/background-collab-cloud.svg");
$icon-arrow-gray: url("/assets/resourceCard/icon-arrow-gray.svg");