$icon-search: url("/assets/navbar/icon-search.svg");
$icon-arrow: url("/assets/jumbotron/icon-arrow-white.svg");
$preface-top: url("/assets/jumbotron/preface-top.png");
$icon-cloud-infrastructure: url("/assets/leftColumn/icon-cloud-infrastructure.svg");
$icon-cloud-resources: url("/assets/leftColumn/icon-cloud-resources.svg");