$icon-search: url("/assets/navbar/icon-search.svg");
$preface-top: url("/assets/jumbotron/preface-top.png");
$icon-arrow-white: url("/assets/common/icon-arrow-white.svg");
$background-collab-cloud: url("/assets/common/background-collab-cloud.svg");