$icon-cloud-infrastructure: url("/assets/home/svgs/icon-cloud-infrastructure.svg");
$icon-dockstore: url("/assets/home/svgs/icon-dockstore.svg");
$icon-circle-documentation: url("/assets/home/svgs/icon-circle-documentation.svg");
$icon-circle-lightbulb: url("/assets/home/svgs/icon-circle-lightbulb.svg");
$icon-circle-training: url("/assets/home/svgs/icon-circle-training.svg");
