@import "./colors";
@import "./mixins";

.pageBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerContainer {
    width: 1098px;
}

.defaultContainerWidth {
    width: 1170px;
}

.childContainer,
.altChildContainer {
    display: flex;
}

.childContainer {
    margin-top: 25px;
}

.altChildContainer {
    margin-top: 16.5px;
}

.columnBorder {
    border-right: 1px solid $color-light-x4-gray;
}

.itemLabel {
    font-weight: bold;
}

.gradientBackgroundGray {
    background-image: linear-gradient(to right, white 0%, $color-light-x8-gray 50%, white 100%);
}

.containerBorderBottom {
    border-bottom: 1px dotted $color-light-x5-gray;
}

.verticallyCenterItem {
    align-items: center;
}

.horizontallyCenterItem {
    justify-content: center;
}

.reverseVerticalAlignment {
    align-items: flex-end;
}

.commonAnchor {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@include respond-to("large") {
    .outerContainer {
        width: 898px;
    }

    .defaultContainerWidth {
        width: 970px;
    }
}

@include respond-to("medium") {
    .outerContainer {
        width: 674px;
    }

    .defaultContainerWidth {
        width: 750px;
    }

    .childContainer,
    .altChildContainer {
        flex-direction: column;
        align-items: center;
    }

    .columnBorder {
        border-right: none;
        border-bottom: 1px dotted $color-light-x5-gray;
    }
}

@include respond-to("small") {
    .outerContainer {
        width: 84%;
    }

    .defaultContainerWidth {
        width: 100%;
    }

    .childContainer {
        margin-top: 23px;
    }

    .altChildContainer {
        margin-top: 15.5px;
    }
}

@include respond-to("extra-small") {
    .childContainer {
        margin-top: 22px;
    }

    .altChildContainer {
        margin-top: 14.5px;
    }
}

@include respond-to("extra-extra-small") {
    .childContainer {
        margin-top: 20px;
    }

    .altChildContainer {
        margin-top: 13.5px;
    }
}