@import "./colors";
@import "./mixins";

.pageBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerContainer {
    width: 1098px;
}

.bottomBorder {
    border-bottom: 1px dotted $color-light-x5-gray;
    margin: 0px 4px;
}

.itemLabel {
    font-weight: bold;
}

.gradientBackgroundGray {
    background-image: linear-gradient(to right, white 0%, $color-light-x8-gray 50%, white 100%);
}

@include respond-to("large") {
    .outerContainer {
        width: 898px;
    }
}

@include respond-to("medium") {
    .outerContainer {
        width: 674px;
    }
}

@include respond-to("small") {
    .outerContainer {
        width: 90%;
    }

    .bottomBorder {
        margin: 0px 4px;
    }
}