@import "../../styles/colors";
@import "../../styles/mixins";

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    .cardContent {
        display: flex;
        flex-direction: column;

        .title {
            a {
                color: $color-dark-blue;

                &:hover {
                    color: $color-light-x3-blue;
                }
            }
        }

        .bodyText {
            color: $color-dark-x2-gray;
        }
    }
}

// large: 1199px
@include respond-to("large") {}

// medium: 991px
@include respond-to("medium") {}

// small: 767px
@include respond-to("small") {}

// extra-small: 388px
@include respond-to("extra-small") {}

// extra-extra-small: 315px
@include respond-to("extra-extra-small") {}